ipython.display # Rich display capabilities for Jupyter notebooks
ipywidgets # Interactive widgets for Jupyter notebooks
openai  # OpenAI API
pyperclip # Give copy/paste access to the clipboard
python-dotenv # Load environment variables from .env file
selenium # Web automation library
webdriver-manager # Automatically manage browser drivers for Selenium
